.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.mainContent {
  display: flex;
  flex: 1;
  max-width: 100%;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .mainContent {
    position: relative;
  }
}
